header.site-header{
    background-color: black;
    height:70px;
    color:white;
  }
  header.site-header h2 {
    font-family: 'Anton', Verdana;
    font-size:2rem;
  }
  header.site-header .row {
    height:80px;
  }
  header.site-header .display-2 {
    font-size: 1.5rem;
    font-family: 'Dosis', Verdana;
    font-weight: 400;
  }